@{
    ViewBag.Title = "Home Page";
}
<h2>Конвертировать XML</h2>
<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#link" aria-controls="link" role="tab" data-toggle="tab">Ссылка</a></li>
        <li role="presentation"><a href="#file" aria-controls="file" role="tab" data-toggle="tab">Файл</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="link">
            @using (Ajax.BeginForm("CreateXMLFromLink", "Home", new AjaxOptions { UpdateTargetId = "results" }, new { @class = "form-group" }))
            {
                <input type="text" class="form-control" id="form-group-input" name="link" placeholder="URL файла" style="margin-top: 10px;">
                <input id="SubmitUrl" class ="btn btn-primary" type="submit" value="Отправить" style="margin-top: 10px;"/>
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="file">
            @using (Ajax.BeginForm("CreateXMLFromFile", "Home", new AjaxOptions { UpdateTargetId = "results" }, new { @class = "form-group" }))
            {
                <input id="form-group-input-file" type="file" multiple="true" name="file" style="margin-top: 10px;"/>
                <input id="Submitfile" class ="btn btn-primary" type="submit" value="Отправить" style="margin-top: 10px;"/>
            }
        </div>
    </div>


    <div id="results"></div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>